/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */

body {
font-family: sans-serif;
  background-color: #616D7E;
 }
.page {
  width: 960px;
  margin: 0 auto;
  overflow: auto;
  background-color: white;
}
#illustration {
  width: 163px;
  height: 480px;
  float: left;
  margin: 40px 20px 0 70px;
}
h1 {
  float: left;
  margin: 110px 0 0 0;
  color: #616D7E;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  width: 200px;
}

ul{
  float: left;
  margin: 150px 0 0 90px;
  font-size: 14px;
  text-align: right;
}
li {
margin-left: 10px;
display: inline;
}

a:link {
color: #616D7E;
text-decoration:none;
}
a:hover {
color: black;
text-decoration:underline;
}
h2 {
  float: left;
  width: 620px;
  color: #616D7E;
  margin-top: 20px;
  font-size: 12px;
  line-height: 18px;
}
.thumbnails {
float: left;
margin: -250px 0 0 250px;
width: 620px;
height: 800px;
background-color: yellow
}
img {
float:left;
margin-right: 20px;
margin-bottom: 20px;
}
ul#contacts {
  float: left;
  margin: 0 0 0 20px;
}
li#info {
 display: block;
  text-align: left;
  font-size: 10px;
  line-height: 18px;
  color: #616D7E;

}